body{
    background-color: white;
    transition-property: all;
    transition-duration: 1s;
}
.flexbox-up-down-container{
    margin: 10px;
    display: flex;
    text-align: center;
}
.flexbox-left-right-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
}
  
.flex-left-right-item {
    border: 1px solid black;
    width: 10%; /* adjust the width of each item */
}
.flex-middle-item {
    background-color: #a4ff6c;
    border: 1px solid #7cb35b;
    width: 100%;
}

.flex-up-down-item{
    background-color: #52bdff;
    border: 1px solid #387ca7;
}

.left-right-item-left{
    margin: 5px;
    
}
.left-right-item-middle{
    margin: 5px;
    
}

.left-right-item-right{
    
    margin: 5px;
    padding: 4px;
}
.text{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;

}
